<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permis</title>
    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c2035ffa68.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  <div class="container mt-5">

    <div class="row" style="margin-top: 7rem;">
      <div class="col-12 col-md-12 col-lg-6 form">
        <center style="margin-top: 20%;">
          <form action="" method="" class="py-5">
            <div class="col-lg-8 mt-5 mx-auto">
              <div class="input-icons mb-4 "><input type="text"
                  class="input-field" placeholder="Admin" required id="user">
              </div>
              <div class="input-icons mb-4"><input type="password" 
                  class="input-field" placeholder="Password" required id="password">
              </div>
            </div>
           <button type="button" id="login" class="button1" style="width: 65%;outline: none;">login</button>
          </form>
          <a href="register.html" id="register"  class="register" style="width: 65%;outline: none; text-decoration: none;">Register</a>
        </center>
      </div>
    </div>

  </div> 
 </div>
</body>

<script src="../public/js/login.js"></script>



</html>